<!doctype html>
<html lang="ja">
<head>
	<title>marker for js-aruco</title>
	<style>

	</style>
</head>
<body>
	0-1023を入力<input type="text" value="1001" id="num" onkeyup="makeMarker(this.value)"><br>
	<canvas id="canvas" width="450" height="450"></canvas>
	<script>
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");

		var ids = [ [1,0,0,0,0], [1,0,1,1,1], [0,1,0,0,1], [0,1,1,1,0] ]

		function makeMarker(num) {
			var a = [], b = [];
			a[0] = Math.floor(num / 4); b[0] = num % 4;
			a[1] = Math.floor(a[0] / 4); b[1] = a[0] % 4;
			a[2] = Math.floor(a[1] / 4); b[2] = a[1] % 4;
			a[3] = Math.floor(a[2] / 4); b[3] = a[2] % 4;
			a[4] = Math.floor(a[3] / 4); b[4] = a[3] % 4;
			ctx.fillStyle = '#000';
			ctx.fillRect(50, 50, 350, 350);
			ctx.fillStyle = '#fff';
			for (var j = 0; j < 5; j++) {
				var s = b[j];
				for (var i = 0; i < 5; i++) {
					if (ids[s][i]) {
						ctx.fillRect(100+i*50, 300-j*50, 50, 50);
					}
				}
			}
		}
		makeMarker(document.getElementById('num').value);

	</script>
</body>
</html>