<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="~/Scripts/ARs/cv.js"></script>
    <script type="text/javascript" src="~/Scripts/ARs/aruco.js"></script>
    <script type="text/javascript" src="~/Scripts/ARs/three.js"></script>
    <script type="text/javascript" src="~/Scripts/ARs/posit2.js"></script>
    <script type="text/javascript" src="~/Scripts/ARs/svd.js"></script>
    <script type="text/javascript" src="~/Scripts/ARs/OrbitControls.js"></script>
    <script type="text/javascript" src="~/Scripts/Objects/MyPose.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script type="text/javascript" src="~/Scripts/Objects/AjaxJsonGetter.js"></script>

    <style>
        html > /**/ body #video {
            display: none;
        }

        html > /**/ body #canvas {
            display: none;
        }
    </style>
    <meta name="description" content="An AR-System named Project Coil." />
</head>
<body>
    <div id="stage">
        <canvas id="canvas" width="640" height="480"></canvas>
        <video id="video"></video>
    </div>
    <script>
        navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        var width = 640;
        var height = 480;
        var posit = new POS.Posit(300, width - 50);
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        var video = document.getElementById("video");




        if (!navigator.getUserMedia) {
            alert("Oops...お使いのブラウザはカメラの起動に対応していないようです。")
        }
        else {
            navigator.getUserMedia(
                { video: true },
                function (localMediaStream) {
                    video.src = window.URL.createObjectURL(localMediaStream);
                    video.play();
                },
                function (error) {
                    alert("カメラを起動できませんでした。Chromeで試してみてください。");
                }
                );
            video.oncanplay = function () {
                main();
            }
        }




        var corners;
        var detector = new AR.Detector();
        var imageData;
        var markers;

        function detectImages() {
            context.drawImage(video, 0, 0);
            imageData = context.getImageData(0, 0, 640, 480);
            markers = detector.detect(imageData);
            var poses = [];
            if (markers != null) {
                markers.forEach(function (value) {
                    corners = value.corners;
                    for (var i = 0; i < corners.length; ++i) {
                        var corner = corners[i];
                        corner.x = corner.x - (width / 2);
                        corner.y = (height / 2) - corner.y;
                    }
                    var mypose = new MyPose();
                    mypose.pose = posit.pose(corners);
                    mypose.markerId = value.id;
                    poses.push(mypose);
                });
            }
            return poses;
        }






        var main = function () {
            var clock = new THREE.Clock();
            var scene = new THREE.Scene();

            var light = new THREE.DirectionalLight(0xffffff, 1);
            light.position.set(0, 30, 0);
            light.castShadow = true;
            scene.add(light);
            var ambient = new THREE.AmbientLight(0x550000);
            scene.add(ambient);

            var camera = new THREE.PerspectiveCamera(45, width / height, 1, 10000);
            camera.position.set(0, 0, 0);


            //カメラからの映像関連
            var videoTexture = new THREE.Texture(canvas);
            videoTexture.minFilter = THREE.LinearFilter;
            videoTexture.magFilter = THREE.LinearFilter;
            var movieMaterial = new THREE.MeshBasicMaterial({ map: videoTexture, overdraw: true, side: THREE.FrontSide });
            var movieGeometry = new THREE.PlaneGeometry(width, height, 1, 1);
            var movieScreen = new THREE.Mesh(movieGeometry, movieMaterial);
            movieScreen.position.set(0, 0, -5000);
            var movieScene = new THREE.Scene();
            movieScene.add(movieScreen);
            var movieCamera = new THREE.OrthographicCamera(-width / 2, width / 2, height / 2, -height / 2, 0, 10000);
            movieCamera.position.z = 5000;


            var morphs = [];

            var renderer = new THREE.WebGLRenderer();
            renderer.autoClear = false;
            renderer.setSize(width, height);
            renderer.setClearColor(0xeeeeee, 1);
            renderer.shadowMapEnabled = true;
            document.getElementById('stage').appendChild(renderer.domElement);
            var controls = new THREE.OrbitControls(camera, renderer.domElement);
            var poseBox;
            function render() {
                requestAnimationFrame(render);
                poseBox = detectImages();

                if (videoTexture) {
                    videoTexture.needsUpdate = true;
                }
                var delta = clock.getDelta();
                if (poseBox.length != 0) {
                    for (var p = 0; p < poseBox.length; p++) {
                        if (morphs.length != 0) {
                            var found = false;//morphsの中に存在したらtrueにする。
                            for (var i = 0; i < morphs.length; i++) {
                                //checkedFlgがセットされていないもののみを対象に（一度trueにしたvisibleがfalseになってしまうのを防ぐ）
                                if (!morphs[i].checkedFlg) {
                                    if (morphs[i].markerId === poseBox[p].markerId) {
                                        var rotation = poseBox[p].pose.bestRotation;
                                        var translation = poseBox[p].pose.bestTranslation;
                                        var object = morphs[i].morph;
                                        object.rotation.x = -Math.asin(-rotation[1][2]);
                                        object.rotation.y = -Math.atan2(rotation[0][2], rotation[2][2]);
                                        object.rotation.z = Math.atan2(rotation[1][0], rotation[1][1]);
                                        object.position.x = translation[0];
                                        object.position.y = translation[1];
                                        object.position.z = -translation[2];
                                        object.visible = true;
                                        morphs[i].checkedFlg = true;//chekcedFlgをセット
                                        found = true;
                                    } else {
                                        morphs[i].morph.visible = false;
                                    }
                                }
                            }
                            if (!found) {
                                var mymorph = AjaxJsonGetter(poseBox[p].markerId, "@Url.Action("GetContentsJson")");
                                scene.add(mymorph.morph);
                                morphs.push(mymorph);
                            }
                        }
                        else {
                            //morphsの中に何も入っていないとき、取得する。
                            var mymorph = AjaxJsonGetter(poseBox[p].markerId, "@Url.Action("GetContentsJson")");
                            scene.add(mymorph.morph);
                            morphs.push(mymorph);
                        }

                    }
                }
                else {
                    if (morphs.length != 0) {
                        morphs.forEach(function (m) {
                            m.morph.visible = false;
                        });
                    }
                }

                //すべての更新作業が終わったら、一度morphsの中のcheckedFlgをすべてリセット
                if (morphs.length != 0) {
                    morphs.forEach(function (m) {
                        if (m.animationFlg) {
                            m.morph.updateAnimation(600 * delta);
                        }
                        m.checkedFlg = false;
                    });
                }

                renderer.clear();
                renderer.render(movieScene, movieCamera);
                renderer.render(scene, camera);
            }

            render();
        }
    </script>
</body>
</html>