@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "エラー";
}

<h1 class="text-danger">エラー。</h1>
<h2 class="text-danger">要求の処理中にエラーが発生しました。</h2>

